.app {

  display: flex;
  flex-direction: row;
  min-height: 100vh;
  
}

.app .side-bar {

  border: 1px solid red;
  width: 250px;

  transition: width 0.2s;
  
}

.app .side-bar.active {
  width: 60px;
}

.app header {
  border: 1px solid blue;
  flex:1;
  
}


